

.gallery-sample a.cloud-zoom {
    position: relative;
    display: block;


}
.gallery-sample {
    position: relative;
    z-index: 1;
}
.gallery-sample a.cloud-zoom img {
    display: block;
    width: 500px;
    text-align: center;
}

.recent_list {

    display: -webkit-box;
    list-style: none;
}

.recent_list li {
    margin-left: -18px;
    border: 1px solid #ddd;
}