.breadcrumb{
    background: none;
}
#hinhanh{
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#thongtinsp{
    border-top: 1px solid #ddd;
    text-indent: 1.5em;
    padding-top: 1.5em;
}
#chitiet{
    border: 1px solid #ddd!important;

}
#btn-themvaogio{
    background-color: #0065ff;  
    color: #fff;
    padding: 0 2.5em;
    -webkit-font-smoothing: antialiased;
    height: 2.5em;
    border-radius: 1.25em;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 1.5em;
    border: 0;
        transition-property: background-color,opacity,border-color,color;
    transition-duration: .12s;
    transition-timing-function: ease-out;
}
#btn-themvaogio:hover
{
    background-color: #7fb2ff;
}
.QuantityPicker-select {
    min-width: 4.4375em;
    height: 2.875em;
    
    border-bottom: 0.125em solid #9d9fa2;
    border-radius: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align-last: center;
    background: none;
    outline: none;
    -webkit-appearance: none;
    float:left; 
    font-weight: 700!important;
    
}

.QuantityPicker {
    position: relative;
}
.QuantityPicker .fa-chevron-down {
    margin-left: -5em!important;
    padding: 0.625em 1.25em;
    pointer-events: none;
    font-size: 0.875em;
    font-size: 1rem;
    color: #A4A4A4;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 0.125em 0.0625em;
}

span.price-invole{
    font-weight: bold;
}
span.priceOld-invole{
    font-size: 0.75em;
    text-decoration: line-through;
    color:  #a2a2a2;
}
span.discount-invole{
    font-weight: bold;
    color: #FF3B26;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2322A305' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2322A305' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.splienquan {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 30%;
    
}
