#dropdownMenu1{
	width: 250px;
	text-align: left;
	border-radius: 0px;
}

#menu-phu{
	
	width: 100%;
	
	text-align: center;
	background-color: rgba(0,11,12,0.5);
	
}
#nav-chude{
	margin-bottom: 0px;

}
#menu-phu .menuphu{
	width: 150px;
	font-size: 14px;
	display: inline-table;
	margin:auto;

	
}
#menu-phu li .nav-link{
	color: white;
}
#menu-phu li a:hover{
	background:white;
	color:#DBA901;
	border-bottom: none;
}
#menu-phu #menu-phu-cap1 li:hover{
	border-top: none;
}
#menu-phu-cap2 li a:hover{
	color:#DBA901!important;
}
#menu-phu li:hover #menu-phu-cap1{
	
	display: block;
}
#menu-phu li:hover #menu-phu-cap1-1{
	
	display: block;

}
#menu-phu li:hover #menu-phu-cap2{
	
	display: block;
}

.active1{
	background:white;
	color:#DBA901!important;
}
#menu-phu-cap1{
	position: absolute;
	display: none;
	width: auto;
	box-sizing: border-box;
	border: 1px solid #000;
	border-top: none;
	border-left: none;
	background-color: #fff;
	z-index: 10;
}

#menu-phu-cap1 .menuc1
{

	margin-left: 0px;
	padding: 0px 20px;
	list-style-type:none;
	float: left;
	font-size: 14px;
}
#menu-phu-cap1 .menuc1 a{
	color: #000!important;
}

#menu-phu-cap2{
	position: relative;
	
	display: none;
	box-sizing: border-box;
	
	
	background-color: #fff;

}
#menu-phu-cap2 li
{
	
	padding: -10px 20px;
	list-style-type:none;
	margin-left: 0px!important;
	font-size: 14px;
}


.main-nav a {
	
	letter-spacing: .1em;
	color: #000;
	display: block;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px dotted gray;
	text-decoration: none;
	font-size: 13px;
}
.main-nav li{
	list-style-type: none;
	right: 100px;
}
.main-nav a:hover {color: #DBA901;
	text-decoration: none;
}
.main-nav-ul ul {display: none;}
.main-nav-ul li:hover ul {display: block;}

.main-nav-ul ul a:before {
	content: '\203A';
	margin-right: 20px;

}
.main-nav .sub-arrow:after {
	content: '\203A';
	float: right;
	margin-right: 20px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);

}
.main-nav li:hover .sub-arrow:after {
	content: '\2039';

}


