html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue",sans-serif;
	
	
}
img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

header {
	width: 100%;
	position: fixed;
	z-index: 30;
}

.menu {
	position: absolute;
	left: -300px;
	width: 300px;
	height: 100vh;
	padding: 10px;
	transition: .5s;
	text-align: center;
	box-sizing: border-box;
	z-index:300;
	float:left;
}

.menu ul{

	margin: 0;
}
.menu li {
	list-style: none;
	font-family: sans-serif; 
	padding: 0px;
	transition: all 0.5s;

}
.menu li a{
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	padding: 10px 0; 
}
.menu li:hover{
	background: #fc2827;	
}

.logo{
	-ms-flex: 35%; /* IE10 */
    flex: 35%;
    max-width: 35%;
}
.menu.showing{
	background-color: rgba(0,11,12,0.8);
	left: 0px;
	
	
}
.cart-icon2{
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	display: flex;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}
.cart-icon2 li
{
		display: none;

	width: 33%;
    text-align: center;
    padding: 10px 10px;
    list-style: none;
}
.cart-icon2 li:hover
	{
		background: none;
	}
.cart-icon2 a:hover
	{
		background: none;
		color: #fc2827;
	}
.social-icon
{
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0px;
	left: 0;
	display: flex;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}
.social-icon li
{
	width: 20%;
	text-align: center;
	padding: 10px 10px;

	list-style: none;
}
.social-icon li a
{
	display: block;
	font-size: 15px;
	color: #fff;
	border-radius: 50%;
	
	transition: .5s;
}
.social-icon li:hover
{
	background: none;
}
.social-icon a:hover
{
	background: #fc2827;
}

.cart-icon{
	margin: 0;
	padding: 0;
	float: left;
	position: absolute;
	display: flex;
	right: 0;
	width: 40%;
	padding: 0px 20px;
	box-sizing: border-box;
	
	
	
}
.cart-icon li
{
	text-align: center;
	width: 33%;
	padding: 10px 10px;
	list-style: none;

}

.cart-icon li a 
{
	
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	margin-right: 0;
}

.cart-icon li i 
{
	display: block;
	
	font-size: 0.9vw;
	color: #fff;
	margin-top: 4px;
	
	
}
.contain{
	float: left;
	width: 100%;
	color: white;
	font-family: Monospace;
	font-size: 30px;
	text-align: center;
	margin-top: 250px;
}
.contain .btn
{
	font-size: 28px;
	color: #fff;
	letter-spacing: 2px;
	margin: 15px;
	padding: 5px 28px;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 25px;
}

.contain .btn1
{
	background: #2E2EFE;
}
.contain .btn1:hover{
	background: #0000FF;
}
.contain .btn2:hover{
	background: #D8D8D8;
	color: #000;
}



form{
	width: 50%;
	padding: 10px 0px;
	float: left;
	margin-left: 90px;
}
input[type=text]{
	padding: 11px 4px;
	width: 80%;
	border:none;
	font-size:15px;
	font-family:sans-serif;
	border-radius:5px 0px 0px 5px;
	opacity: 0.7;
    position: relative;
}

.btn-search{
	padding:11.5px;
	border: none;
	font-size: 14.5px;
	
	font-family:sans-serif;
	background:#000;
	color:#01DF01;
	border-radius:0 5px 5px 0px;
	cursor:pointer;
	opacity: 0.4;
	position:absolute;
} 
@media (max-height: 568px){
	.logo{display: none;}

}
@media (max-width: 1140px){
	.cart-icon li i{
		display: none;
	}.cart-icon li {
		margin-top:10px;
	}

}
@media screen and (max-width:768px){
	.btn-select{
		display: none;
	}
	.btn-select select{
		display: none;
	}
	input[type=text]{
		border-radius:5px 0px 0px 5px;
	}
	
}
.row1{
	position: absolute;
	float: right;
	width: 100%;
	z-index:300;
	transition: .5s;
}
.row1.black{
	background-color: rgba(0,11,12,0.8);
	
	padding: 10px 10px;
}
.row1.active{
	margin-left: 300px;
}

.menu-icon {
	position: absolute;
	left: 0;
	cursor: pointer;
	font-size: normal;
	padding: 10px 20px;
	color: white;
	transition: .5s;
	float: left;
}

.menu-icon span{
	display: block;
	width: 30px;
	height: 5px;
	margin: 5px 0px;

}
.menu ul ul{
	display: none;
}


@media (max-width: 568px)
{
	
	.cart-icon li i{
		display: none;

	}
	.cart-icon .icon2{
		display: none;
	}
	.cart-icon li
	{
		padding: 10px 13px;
	}
	.cart-icon{
		width: 30%;
	}
	
	.row1 {height:auto;} 
	
	
	.contain .btn{
		font-size: 15px;
		color: #fff;
		letter-spacing: 0px;
		margin: 0px;
		padding: 5px 5px;
		text-decoration: none;
		border: 1px solid white;
		border-radius: 25px;
	}
	.menu{
		width: 200px;
	}
	.social-icon li a
	{
		display: block;
		font-size: 18px;
		color: #fff;
		border-radius: 50%;
		background-color: none;
		transition: .5s;
	}
	.social-icon li:hover
	{
		background-color: none;
	}
	.social-icon a:hover
	{
		background: none;
		color: #fc2827;
	}
	.row1.active{
		margin-left: 200px;
	}
	.row1{
		height: 75px;
	}
	
	
	.contain{
		margin-top: 200px;
	}
}
:root {
	--jumbotron-padding-y: 3rem;
}

.jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #9FF781;
}
@media (min-width: 768px) {
	.jumbotron {
		padding-top: calc(var(--jumbotron-padding-y) * 2);
		padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .contain {
	max-width: 40rem;
}

footer {
	
	
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#contact{
	background-color: #9FF781;
}
#album{
	background-color: #9FF781;
	border-radius: 0px;
	margin-top: -16px; margin-bottom: -16px; 
}
#album-list{
	background-color: #CECEF6!important;
}
#about{
	margin-top: -16px; margin-bottom: -16px; 
	background-color: #CECEF6!important;
}
.btn-outline-secondary {
	color: #0206b1!important;
	border-color: #b10818!important;
}
#about-bg{
	background-color: #CECEF6!important;
}
#main{
	background-color: #BDBDBD!important;
}
/*css cho hoverable menu*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#1a1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.card-text{
	font-size: 20px!important;

	float: left!important;
	
}
#ketquatimkiem{
	position: absolute;
   width: 39.4%;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index:200;
   border-bottom: 1px solid #A4A4A4;

}
.list-group-item:hover{
	background-color: #D8D8D8;
	
}
.list-group-item:last-child{
	margin-bottom: 0;
    border-bottom-right-radius: 0rem!important;
    border-bottom-left-radius: 0rem!important;
}
.list-group-item:first-child{
	color: #000!important;
	
	border-top-right-radius: 0rem!important;
	border-top-left-radius: 0rem!important;
}
